{% if debci_amqp_server | length > 0 -%}
debci_amqp_server="{{ debci_amqp_server }}"
{% endif %}
{% if debci_amqp_ssl %}
debci_amqp_ssl=true
debci_amqp_cacert=/etc/debci/ca.crt
debci_amqp_cert=/etc/debci/client.crt
debci_amqp_key=/etc/debci/client.key
{% endif %}
debci_arch="{{ debci_arch }}"
debci_backend="{{ debci_backend }}"
debci_mirror="{{ debci_mirror }}"
